<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>This app needs Bluetooth access to monitor your Keychron keyboard's battery level.</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>This app needs Bluetooth access to monitor your Keychron keyboard's battery level.</string>
		<key>LSUIElement</key>
		<true />
		<key>NSBonjourServices</key>
		<array>
			<string>_mqtt._tcp</string>
			<string>_secure-mqtt._tcp</string>
			<string>_home-assistant._tcp</string>
		</array>
	</dict>
</plist>